@font-face {

    font-family: MarkPro ;
    src: url('../fonts/MarkPro.ttf') format('truetype');
  }
  
  @font-face {
    font-family: MarkProBold;
    src: url('../fonts/MarkProBold.ttf') format('truetype');
    
  
  }

    
  @font-face {
    font-family: MarkProHeavy;
    src: url('../fonts/MarkPro-Heavy.ttf') format('truetype');
    
  
  }

      
  @font-face {
    font-family: MarkProMedium;
    src: url('../fonts/MarkPro-Medium.ttf') format('truetype');
    
  
  }




.navbar {
  margin-bottom: -40px;
  
}

.nav-item {
    font-size: 17px !important;
    font-family: MarkPro !important;
    color: #fff !important;
  }
  .nav-link {
    font-size: 14px !important;
    color: #fff !important;
    text-transform: none !important;
  }

  .dropdown-toggle {
    font-size: 15px !important;
    color: #fff !important;
  }

  .navbar-nav {
    margin-right: -40px;

  }
  .nav-link {
    font-size: MarkProBold !important;
  }
   
  .nav-item svg:hover {
    fill: #fff !important;
  }
  
  .main {
  
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background-color: rgba(0, 145, 198, 0.04);
  }

  /* body {
    background-color: black !important;
  }
   */
  

  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.155em !important;
    vertical-align: 0.155em !important;
  }
/* 
  .blur {
 
    filter: blur(63px);
    background-color: rgba(0, 145, 198, 0.2);
    min-height: 100vh;
    position: relative;
  
   
  } */

body {

  height: 100vh;
  overflow-y: hidden;
  
}

  .main {
 
    background-image: url('../img/group-17.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 105vh;
    overflow: hidden;
    
  }
  .holder {
    
  }

  .navigation {
    width: 93%;
    margin: 0 auto;


  }


  .navbar-collapse {
    margin-right: -35px;
  }

  .navigation .cabinet
{
  width: 154px;
  height: 40px;
  border-radius: 38px;
  border: solid 1px #fff;
  text-align: center;
  transition: ease 0.5s;
}


.cabinet:hover  {
  border: 1px solid #fff;
  background-color: #fff;
  
}
.cabinet:hover a {
  color: #000 !important;
}

.nav-border {
  width: 100%;
  height: 1px;
  background-color: white;
  margin-top: 50px;
  margin-left: 10px;
}

.body {
  width: 92%;
}


.top-svg {
  position: absolute;
  left: 2.55%;
  top: 79px;
}

.circle {
  position: absolute;
  right: 0%;
  top: 0%;
}

.circle-1 {
  position: absolute;
  right: 7%;
  top: 0%;
}

.circle-2 {
  position: absolute;
  right: 12%;
  top: 10%;
}

.services {
  
  width: 85%;
  height: 800px;
  margin: 60px auto 0 auto;

  border-bottom-left-radius: 49px;
  border-bottom-right-radius: 49px;
  border-top-right-radius: 49px;

  background-color: transparent;

}

.services h2 {
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
  font-family: MarkProMedium;
  font-size: 26px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: -0.74px;
  color: #ffffff;
}

.aply-bottom {
  height: 30px;
}
.services .aply-bottom  a
{
  width: 158.5px;
  font-family: MarkProBold;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: -0.43px;
  color: #fff;
  display: block;
  cursor: pointer;
  transition: ease 0.7s;

}

.services .aply-bottom a:hover {
  color: #fff;
}

.services .aply path{
  transition: ease 0.8s;
}
.services .aply:hover path{
  fill: #ffffff;
 
}

hr {
  background-color: rgba(255, 255, 255, 0.38);
}

.contact h5 {
  font-family: MarkPro;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  /* line-height: 2.62; */
  letter-spacing: -0.19px;
  color: rgba(255, 255, 255, 0.55);

}
.contact .white {

  color: rgba(255, 255, 255, 1) !important;
}
i {
  color: rgba(255, 255, 255, 0.55);
}

.kredit {
  border-top-left-radius: 49px;
  border-bottom-right-radius: 49px;
  border-top-right-radius: 49px;

  background-color: transparent;
  height: 25.5%;
  margin-top: 55px;
  width: 97%;


}

.kredit h5 {
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
  font-family: MarkProMedium;
  font-size: 26px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: -0.74px;
  color: #ffffff;
}

.kredit h2
{
  width: 80%;

  font-family: MarkProHeavy;
  font-size: 90px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: -2.56px;
  color: #0091c6;
}

.kredit .apply {
  width: 187px;
  height: 41px;
  border-radius: 20.5px;
  background-color: #0091c6;
  font-family: MarkProHeavy;
  font-size: 15px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.64px;
  color: #ffffff;
  transition: ease 0.8s;
}

.kredit .apply:hover {
  background-color: #26d8a0;
}

.kredit .kredit-left {
  padding: 50px 0 375px 99px;
}
.kredit .kredit-right {
  position: relative;
}

.kredit .kredit-right .oval-1{
  position: absolute;
  top: 250px;
  left: -100px;
}

.kredit .kredit-right .oval-2 {
  position: absolute;

  top: 14px;
  right: 50px;
}

.kredit .kredit-right .oval-3 {
  right: -96px;
  top: 130px;

  position: absolute;
}

.kredit .kredit-right .pay {
  margin-top: 70px;
  margin-left: -75px;
}



.main-services {
  

  position: relative;
 

}

.main-services .header{
  

  margin-top: -13px;
 

}


.main-services-bg {

  top: 1%;
  right: -3%;
  border-top-left-radius: 35px;
  width: 100%;
  height: 452px;
  opacity: 0.97;
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  background-color: rgba(255, 255, 255, 0.19);
  animation: main-services-bg .7s ;
  /* transition: linear 1s; */
}


.product-bg {

  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  background-color: rgba(255, 255, 255, 0.19);

  top: -21%;

  position: relative;
  border-top-left-radius: 35px;
  width: 102%;
  height: 452px;
  animation: product-bg .7s ;
  /* transition: linear 1s; */
}



.main-services-bg-2 {
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  background-color: rgba(255, 255, 255, 0.19);

  top: 5.3%;
  animation: product-bg .7s ;
  position: relative;
  border-top-left-radius: 35px;
  width: 102%;
  height: 452px;
  /* transition: linear 1s; */
  z-index: 100;
}

.negat {
  background-color: white;
  height: 100px;
}


.product-bg-2 {
  animation: main-services-bg .7s ;
  top: -26.1%;
  right: -3%;
  border-top-left-radius: 35px;
  width: 100%;
  height: 452px;
  opacity: 0.97;
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  background-color: rgba(255, 255, 255, 0.19);
  /* transition: linear 1s; */
  
}


@keyframes product-bg {
  0% { opacity: .1; transform: translateY(75px); } 

  25% { opacity: 0.3; transform: translateY(50px); } 
  50% { opacity: 0.5; transform: translateY(25px); } 
  75% { opacity: 0.7; transform: translateY(0px); } 

100% {opacity: 1; transform: translateY(0); } 
}

@keyframes main-services-bg {
    0% { opacity: 1; transform: translateY(0px); } 
    
    25% { opacity: 0.7; transform: translateY(25px); } 
    50% { opacity: 0.5; transform: translateY(50px); } 
    75% { opacity: 0.2; transform: translateY(75px); } 

    100% { transform: translateY(0); } 
}

.products .vawe {
  position: absolute;
  right: 0;
  top: 0;
}

.main-services .header .circle{
  width: 12px;
  height: 12px;
  opacity: 0.36;
  background-color: #ffffff;
  border-radius: 15px;
}

.main-services .header h1 {
  object-fit: contain;
  opacity: 0.32;
  font-family: MarkPro;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.22px;
  color: #ffffff;
  margin-top: 13px;
}

.main-services .header .header-right {
  position: relative;
}

.xx {
  position: absolute;
  top: 372.5px;
  right: 0%;
  /* background-color: red; */
  z-index: 100;

}


.yy {
  position: absolute;
  top: 469px;
  right: 0%;
  /* background-color: red; */
  z-index: 100;
}

.main-services .header .header-right div {
  
  width: 163px;
  height: 31px;
  border-radius: 38px;
  border: solid 1px #ffffff;
  background-color: transparent;
 
  margin-right: 200px;
}

.main-services .header .header-right a{
  font-family: MarkPro;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.5;
  letter-spacing: -0.04px;
  color: #ffffff;
  text-transform: capitalize;
 
}


/* */


.products .header .circle{
  width: 26.4px;
  height: 26.4px;
  background-color: #ffffff;
  border-radius: 15px;
}

.products .header h1 {
  object-fit: contain;
  font-family: MarkProHeavy;
  font-size: 31px;
  
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
  color: #ffffff;
}

.products .header .header-left {
  padding: 8px 0;
}

.products .header .header-right div {


  width: 197px;
  height: 41px;
  border-radius: 38px;
  background-color: transparent;
  border: 1px solid #fff;
  
  margin-right: 160px;
}

.products .header .header-right a {
  font-family: MarkProHeavy;
  font-size: 15px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.33;
  letter-spacing: -0.06px;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
}

.istehlak{
  padding-left: 35px;
  border-radius: 15px;
  width: 91%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-image: linear-gradient(to left, rgba(254, 244, 218, 0.9) , rgba(202, 207, 246, 0.82));
}


 .lombard
{
  padding-left: 35px;
  border-radius: 15px;
  width: 91%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-image: linear-gradient(to left, rgba(164, 217, 248, 0.86), rgba(240, 251, 255, 0.85));
}

 .cart
{
  padding-left: 35px;
  border-radius: 15px;
  width: 91%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-image: linear-gradient(to left, rgba(143, 203, 225, 0.87) , rgba(173, 232, 202, 0.9) )
}

.credit-top {
  width: 98%;
  margin: auto;
}

.credit-top  h6 {
  font-family: MarkPro;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #9d9d9d;
}

.credit-top  h5
{
  
  font-family:  MarkProHeavy;
  font-size: 25px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -0.13px;
  color: #000000;

}

.credit-top .percent {
  padding-right: 20px;
}

.credit-top .percent  h2 {
  object-fit: contain;
  font-family: MarkProBold;
  font-size: 120px;

  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -8.68px;
  color: rgba(0, 145, 198, 0.08);
}

.credit-top .percent span
{
  
  object-fit: contain;
  font-family: MarkPro;
  font-size: 70px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -4.89px;
  color: rgba(0, 145, 198, 0.08);

}
.credit-bottom {
  width: 90%;
 
}

.credit-bottom p
{

  margin-top: -40px;
  width: 80%;
  height: 32px;
  font-family: MarkPro;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.23px;
  color: #4c4c4c;
}



.main-services .circle-active {
  width: 10px;
  height: 10px;
  opacity: 0.61;
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 100%;
  margin: 0 10px 0 -20px;
}

.main-services .header {
  height: 70px;
  margin-left: 8px;
}

.products .header {
  height: 76px;
  margin-left: 5px;
}

.products .circle-active {
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.31);
  border-radius: 100%;
  margin: 0 1rem;

}

i {
  transition: ease 0.8s;
  color: #fff;
}

i:hover {
  color: #ffffff;
}

#side-drawer {
  height: 100vh;
  width: 30vw;  /*Ideal width for sidebar accdg to https://forums.envato.com/t/standard-sidebar-width/75633*/
  top: 0;
  right: -1036px;
  z-index: 1032;  /*z-index of standard bootstrap navbar is 1030 + 1 offset due to side-drawer-void*/
  transition: right 0.25s ease;
}

#side-drawer-void {
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1031;  /*z-index of standard bootstrap navbar is 1030*/
  background: rgba(0,0,0,.6);
}

.menu-holder {
  backdrop-filter: blur(22px);
  background-color: rgba(160, 201, 225, .26);
}


#side-drawer .nav-link {
  font-size: 25px !important;
}