@media screen and (min-width:1028px) and (max-width:1892px){
    .credit-top .percent span {
        font-size: 60px;

    }
    .credit-top h5 {
        font-size: 23px;
    }
    .credit-top .percent h2 {
        font-size: 90px;
        padding-right: 10px;
    }
    .credit-top .percent span {
        font-size: 45px;
    }
    .credit-bottom p {
        margin: 1px 0 7px 0 ;
        width: 100%;
    }

   .top-svg {
    left: 2.8%;
   }

   .kredit .kredit-left {
    padding: 50px 0 0 70px;
  }
 
}



@media screen and (min-width:768px) and (max-width:1025px){
    /* body {
        overflow-y: auto !important;
    }
    .main {
        overflow-y: auto !important;
    } */
    .navigation {
        width: 94.5% !important;
    }
    .navbar-nav {
        flex-direction: row !important;
    }
    .top-svg {
        left: 3.1%;
       }
     .online-services h2 {
         font-size: 15px;
         text-align: center;
     }  
    
     .online-services .aply .items {
         margin-left: 20px;
         width: 35px;
         height: 35px;
     }
     .online-services .aply-bottom  {
         margin-left: 5px !important;
     }
     .online-services .aply-bottom a {
         font-size: 10px;
     }
     .contact hr {
         width: 80%;
     }

     .contact h5 {
         width: 80%;
         font-size: 10px;
        object-fit: contain;
        margin-left: 20px;
     }
     .kredit .pay {
        width: 141%;
        height: 115%;
     }
     .kredit .kredit-left h5 {
        font-size: 19px;
     }

     .kredit .kredit-left  h2 {
        font-size: 40px;
        width: 100%;
     }
     .credit-top h6 {
         font-size: 10px !important;
     }
     .credit-top h5 {
         font-size: 15px !important;
     }
     .percent span {
        font-size: 30px !important;
     }

     .percent h2{
        font-size: 50px !important;
     }
     .credit-bottom p {
        width: 100%;
        margin-top: 5px !important;
        margin-left: -10px !important;
        font-size: 11px !important;
     }
     .credit-bottom {
        width: 100%;
        margin-left: -15px;
        margin-top: 5px;
    }
    .credit-top .percent {
        padding-right: 35px;
    }
    .xx,.yy {
        right: 0% !important;
    }
    .xx {
        top: 237px;
    }
    .yy {
        top: 307px;
    }

    .main-services-bg {
        top: -6%;
    }
    .product-bg {
        top: -31%;
    }
    .product-bg-2 {
        top: -34.8%;
    }
    .main-services-bg-2 {
        top: -2.95%;
    }

    .main-services .header .header-right div {
        width: 22vw;
     
    
        margin-right: 0px !important;
    }
    .main-services .header h1 {
        font-size: 12px;
    }
    .products {
        padding-left: 0px !important;
    }
    .products .header h1 {
        font-size: 17px;
    }

    .products .header .header-right div {
        width: 22vw;
     
    
        margin-right: 0px !important;
        white-space: nowrap;
    }
    .products .header .header-right div a {
        font-size: 10px;
    }
    
    .istehlak,.lombard,.cart {
        width: 100%;
        margin: 0 auto;
    }
    .body .col-md-4 {
        margin: 10px 0 ;
    }
 
    .credit-top h6 {
        font-size: 11px;
    }
    .credit-top h5 {
        font-size: 15px;
    }
    .credit-top .percent span {
        font-size: 30px;
    }
    .credit-top .percent h2 {
        font-size: 90px;
    }
    .credit-bottom p {
        margin-top: -20px;
        width: 100%;
    }
 }


 @media only screen and (max-width: 600px) {
     body {
         overflow-y: auto !important;
         overflow-x: hidden !important;
     }
     .main {
         overflow-y: auto !important;
         overflow-x: hidden !important;
     }
     .navigation {
         width: 100% !important;
     }
     .navbar {
         display: block !important;
     }
     .navbar-nav {
         margin: 20px 0 0 0 !important;
         flex-direction: row !important;

     }
     #side-drawer {
        height: 100vh;
        width: 70vw;
     }
     .navigation .cabinet {
         border: none;
     }
     .kredit {
         width: 100%;
         margin-top: 0px !important;
     }
     .kredit .kredit-left {
         padding: 2rem;
     }
     .kredit h2 {
         width: 100%;
         font-size:50px;
     }
     .xx {
         display: none;
     }
     .yy {
         display: none;
     }
     .main-services-bg {
         top: 6%;
         height: 31%;
     }
     .product-bg-2 {
         top: -43%;
         height: 50%;
     }

     .main-services-bg-2 {
         top: 11%;
         height: 50%;
     }

     .product-bg {
        top: -21%;
        height: 50%;
    }
     /* .header {
         display: block !important;
     } */
     .main-services .header .header-right div {
        width: 37vw;
       margin-right: 5px !important;
       height: 6vh;
    }
    .main-services .header h1 {
        font-size: 14px;
    }
    .products {
        padding-left: 0px !important;
    }
    .products .header h1 {
        font-size: 17px;
    }

    .products .header .header-right div {
        width: 37vw;
        margin-right: 5px !important;
        height: 6vh;
        white-space: nowrap;
    }
    .products .header .header-right div a {
        font-size: 10px;
    }
    
    .istehlak,.lombard,.cart {
        width: 100%;
        margin: 0 auto;
    }
    .body .col-md-4 {
        margin: 10px 0 ;
    }
 
    .credit-top h6 {
        font-size: 11px;
    }
    .credit-top h5 {
        font-size: 18px;
    }
    .credit-top .percent span {
        font-size: 40px;
    }
    .credit-top .percent h2 {
        font-size: 90px;
    }
    .credit-bottom p {
        margin-top: -20px;
        width: 100%;
    }
    .nav-item {
        font-size: 14px !important;
    }
}


@media screen and (min-width:2422px) and (max-width:2565px){


   .top-svg {
    left: 62px;
   }

   .services {
       height: 88vh;
       align-items: flex-start !important;
   }
   .kredit {
       height: 50vh;
   }
   .kredit-right {
       padding-right: 400px;
   }
   .pay {
       height: 110%;
       margin-top: 135px !important;
       /* margin-left: -52px; */
       margin-right: -100px !important;
   }
   .faiz {
    margin-top: 13%;
    font-size: 40px;
   }
   .kredit h2 {
       font-size: 65px;
       width: 80%;
   }
   .online-services {
       margin-top: 20%;
   }

   .kredit .b-kredit-v3 {
       font-size: 132px !important;
       width: 95%;
   }

   .services h2 {
       font-size: 42px;
   }
   .items {
       width: 65px;
       height: 65px;
   }

   .services .aply-bottom a
   {
    width: 224.5px;
    margin-top: -20px;
    font-size: 25px;
   }
   .kredit-left .aply {
       margin-top: 5%;
   }
   .contact {
       padding-top: 77% !important;
   }
   .services .aply {
       margin: 3rem 0 !important;
   }
   .main-services-bg {
       top: 2.7%;
   }
   .product-bg {
       top: -18%;
   }
   .main-services-bg-2 {
       top: 8%;
   }
   .product-bg-2 {
       top: -24.04%;
   }
   .kredit-left-v3 {
       padding: 0 !important;
   }
   .kredit-v3 {
  
    margin-left: 7%;
   }
   .faiz-v3 {
       margin-top: 6%;
   }

   .kredit .apply {
       width: 200px;
       height: 50px;
       font-size: 21px;
       margin-top: 2%;
   }

   .yy-v3 {
    top: 781px !important;
    /* background: red; */

   }
   .xx-v3
   {
       
    top: 657px !important;
    /* background: red; */
    

   }
   .yy {
       top: 834px;
   }
   .xx {
       top: 721px;
   }

   .credit-top h6 {
       font-size: 18px;
   }

   .credit-bottom {
    margin-left: -5px;
    margin-top: 10px;
    width: 83%;
   }
   .titles {
       margin-left: -10px;
   }

   .m-v3{
       top: 8.9% !important;
   }
   .p-v3 {
    top: -25% !important;
   }

   .credit-top h5 {
       width: 80%;
       
   }
   .istehlak {
       width: 80%;
       height: 110%;
   }

   .lombard {
       width: 80%;
       height: 110%;
   }
   .cart {
    width: 80%;
    height: 110%;
   }
   
}

