@media screen and (min-width:1028px) and (max-width:1892px){
    .credit-top .percent span {
        font-size: 60px;

    }
    .credit-top h5 {
        font-size: 23px;
    }
    .credit-top .percent h2 {
        font-size: 90px;
        padding-right: 10px;
    }
    .credit-top .percent span {
        font-size: 45px;
    }
    .credit-bottom p {
        margin: 1px 0 7px 0 ;
        width: 100%;
    }

   .top-svg {
    left: 2.8%;
   }

   .kredit .kredit-left {
    padding: 50px 0 0 70px;
  }
}



@media screen and (min-width:768px) and (max-width:1025px){
    .top-svg {
        left: 3.1%;
       }
     .online-services h2 {
         font-size: 15px;
         text-align: center;
     }  
    
     .online-services .aply .items {
         margin-left: 20px;
         width: 35px;
         height: 35px;
     }
     .online-services .aply-bottom  {
         margin-left: 5px !important;
     }
     .online-services .aply-bottom a {
         font-size: 10px;
     }
     .contact hr {
         width: 80%;
     }

     .contact h5 {
         width: 80%;
         font-size: 10px;
        object-fit: contain;
        margin-left: 20px;
     }
     .kredit .pay {
        width: 141%;
        height: 115%;
     }
     .kredit .kredit-left h5 {
        font-size: 21px;
     }

     .kredit .kredit-left  h2 {
        font-size: 30px;
     }
     .credit-top h6 {
         font-size: 11px !important;
     }
     .credit-top h5 {
         font-size: 17px !important;
     }
     .percent span {
        font-size: 35px !important;
     }

     .percent h2{
        font-size: 55px !important;
     }
     .credit-bottom p {
        width: 100%;
        margin-top: 5px !important;
        margin-left: -10px !important;
        font-size: 11px !important;
     }
     .credit-bottom {
        width: 100%;
        margin-left: -15px;
        margin-top: 5px;
    }
    .credit-top .percent {
        padding-right: 35px;
    }

 }


 @media only screen and (max-width: 600px) {
    
}


@media screen and (min-width:2222px) and (max-width:2565px){


   .top-svg {
    left: 62px;
   }

   .services {
       height: 85vh;
       align-items: flex-start !important;
   }
   .kredit {
       height: 50vh;
   }
   .kredit-right {
       padding-right: 400px;
   }
   .pay {
       height: 110%;
   }
   .faiz {
    margin-top: 13%;
    font-size: 40px;
   }
   .kredit h2 {
       font-size: 65px;
       width: 100%;
   }
   .online-services {
       margin-top: 20%;
   }

   .services h2 {
       font-size: 42px;
   }
   .items {
       width: 65px;
       height: 65px;
   }

   .services .aply-bottom a
   {
    width: 224.5px;
    margin-top: -20px;
    font-size: 25px;
   }
   .kredit-left .aply {
       margin-top: 5%;
   }
   .contact {
       padding-top: 70% !important;
   }
   .services .aply {
       margin: 3rem 0 !important;
   }
   .main-services-bg {
       top: 1%;
   }
   .product-bg {
       top: -21%;
   }
   .main-services-bg-2 {
       top: 3.75%;
   }
   .product-bg-2 {
       top: -25.6%;
   }
}

